/* 좌석의 스타일 */
.seat {
    height: auto;
    padding: 10px;
    margin: 3px;

    background-color: #f8f9fa;
    border: 1px solid #ddd;
    
    text-align: center;
    white-space: nowrap;
}
.spacer {
    width: 20px;
}

/* Flexbox 스타일링 */
.nowrap-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

/* 좌석의 너비를 조정하기 위해 사용 */
.nowrap-row > .seat, .nowrap-row > .spacer {
    flex: 0 0 auto;
}



/* 커스텀 높이 조정 */
.custom-height {
    height: 50px;
}

/* 커스텀 배경색 */
.custom-background {
    background-color: #c4e2ff;
}


/* 모바일 화면에 맞게 크기 조정 */
@media (max-width: 576px) {
    .seat {
        padding: 5px;
        margin: 3px;
        font-size: 12px;
    }
    .spacer {
        width: 10px;
    }
}

@media (min-width: 992px) {
    .seat {
        padding: 15px;
        margin: 8px;
        font-size: 15px;
    }
    .spacer {
        width: 20px;
    }
}